.section {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #5f0a87;
  border-radius: 20px;
}

.section__header {
  background-color: #5f0a87;
  color: #eee;
  padding: 20px;
  border-radius: 20px;
  margin: 0;
  text-align: center;
}
